<!-- <nav class="navbar navbar-default navbar-fixed-bottom ">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand">mindteck</span>
        </div>

        <p class="navbar-text navbar-right">company &copy; 2018</p>
    </div>
</nav> -->
 <!-- Footer -->
<!-- <footer class="page-footer font-small blue">    
    <div class="footer-copyright text-center ">© 2018 Copyright:
      <a href="https://www.mindteck.com/"> mindteck.com</a>
    </div>
    </footer> -->
  <!-- Footer -->
  <footer class="footer">    
      <div class="container">
    <div class="footer-copyright text-center txt-color ">© 2018 Copyright:
      <a href="https://www.mindteck.com/"> mindteck.com</a>
    </div>
</div>
</footer>
<!-- <div class="footer-copyright text-center ">© 2018 Copyright:
    <a href="https://www.mindteck.com/"> mindteck.com</a>
  </div>
   -->