<div class="containerCustom">
  <table class="table-responsive table-fixed shadow mb-2  rounded table_class" *ngFor="let item of data; let ind = index;">
    <thead>
      <tr class="header">
        <th>{{item.description|slice:0:30}} <img src="assets/imageedit_9_2604501489.png " height="20px" width="22px"
            class="pointer" (click)="openModalWithClass(viewtemplate,item.id)" title="View Details" />&nbsp;&nbsp;
        </th>
        <th></th>
        <th><i class="fa fa-car fa-2x"></i>&nbsp;Vehicles Parked&nbsp; (Capacity:{{item.totallimit}})</th>
        <th><i class="fa fa-parking fa-2x"></i>&nbsp;Total Vehicles Parked</th>
        <th><i class="far fa-clock fa-2x"></i>&nbsp;Total Parking Duration</th>
        <th><img src="assets/imageedit_13_2872658543.png " height="30px" width="40px" />&nbsp;App Bookings</th>
        <th><img src="assets/imageedit_15_9024216245.png" height="30px" width="40px" />&nbsp; Revenue</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="2" class="icon_color"><img src="http:\\172.16.4.12:81\assets\{{item.imagename}}"
            class="img_height " alt="tapperwala"> <img src="assets/rotatedcam.png " data-toggle="modal"
            data-target="#myLiveModal" class="live_png pointer" title="live video" (click)="ActiveNonFavLiveFeeds()" />
        </td>
        <td>
          <img src="assets/imageedit_7_2384673606.png" height="25px" width="30px" style="margin-top: 10px" />
        </td>
        <td>
            <!-- <div class="progress progress1_margin ">
                <div class="progress-bar progress1_color" role="progressbar" [style.width.%]="item.totalactivevehicle.progress" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100">{{item.totalactivevehicle}}</div>
              </div> -->
              <div class="progress progress1_margin">
                <div class="progress-bar progress1_color" role="progressbar" [style.width]="percentage[ind]+ '%'" aria-valuenow="Now[ind]" aria-valuemin="Min" aria-valuemax="Max">{{Now[ind]}}</div>
              </div>
        </td>
        <td>
          <div class="progress progress1_margin progress_width">
            <div class="progress-bar progress2_color" role="progressbar" style="width: 100%;" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100">{{item.totalparkedvehicle}}</div>
          </div>
        </td>
        <td>
          <div class="progress progress1_margin progress_width">
            <div class="progress-bar progress3_color" role="progressbar" style="width: 100%;" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100">{{item.totalparkedtime}}</div>
          </div>
        </td>
        <td rowspan="2" class="text-center icon_color revenue">
          <app-appbooking></app-appbooking>
        </td>
        <td rowspan="2" class="text-center icon_color revenue"><i
            class="fas fa-rupee-sign"></i>&nbsp;{{item.totalamount}}
        </td>
      </tr>
      <tr>
        <td>
          <img src="assets/imageedit_11_4998760368.png" height="25px" width="35px" style="margin-bottom: 10px" />
        </td>
        <td>
            <!-- <div class="progress progress2_margin">
                <div class="progress-bar progress1_color" role="progressbar" [style.width.%]="item.totalactivevehiclecamera.progress" aria-valuenow="0"
                  aria-valuemin="0" aria-valuemax="100">{{item.totalactivevehiclecamera}}</div>
              </div> -->
              <div class="progress progress1_margin">
                <div class="progress-bar progress1_color" role="progressbar" [style.width]="percentageCamera[ind]+ '%'" aria-valuenow="NowCamera[ind]" aria-valuemin="Min" aria-valuemax="Max">{{NowCamera[ind]}}</div>
              </div>
        </td>
        <td>
          <div class="progress progress2_margin progress_width">
            <div class="progress-bar progress2_color" role="progressbar" style="width: 100%;" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100">{{item.totalparkedvehiclecamera}}</div>
          </div>
        </td>
        <td>
          <div class="progress progress2_margin progress_width">
            <div class="progress-bar progress3_color" role="progressbar" style="width: 100%;" aria-valuenow="0"
              aria-valuemin="0" aria-valuemax="100">{{item.totalparkedtimecamera}}</div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- Live feed camera -->
<div class="container-fluid modal fade bd-example-modal-lg" style=" max-width: 100vw;" id="myLiveModal" tabindex="-1"
  data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-full" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <!-- Nav tabs -->
        <div class="row  ">
          <div class="col-md-3">
            <ng-container>
              <div class="panel panel-primary" id="result_panel">
                  <div class="panel-heading "><h6 class="panel-title panel_heading text-center">Select Location</h6>
                  </div>
                  <div class="panel-body">
                <ul class="list-group location" >
                  <li class="list-group-item "  *ngFor="let item of ClientLocation_array" value="{{item.datavalue}}" >
                    {{item.datatext}}
                  </li>
                </ul>
              </div>
              </div>
            </ng-container>
          </div>
          <div class="col-md-9">
            <ng-container>
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active tabs" data-toggle="tab" href="#detection"><img src="assets/detection.png " height="25" width="25"/>&nbsp;Detection Camera</a>
              </li>
              <li class="nav-item">
                <a class="nav-link tabs" data-toggle="tab" href="#surveillance"> <img src="assets/cctv.png " height="25" width="30"/> Surveillance Camera</a>
              </li>
            </ul>
            <div class="row no-gutters ">
              <div class="col-md-2">
                <ng-container>
                  <div class="panel panel-primary" id="result_panel">
                      <div class="panel-heading "><h6 class="panel-title panel_heading text-center">Select Camera</h6>
                      </div>
                      <div class="panel-body">
                    <ul class="list-group camera">
                      <li class="list-group-item active">CAM01</li>
                      <li class="list-group-item ">CAM02</li>
                      <li class="list-group-item ">CAM03</li>
                      <li class="list-group-item ">CAM04</li>
                      <li class="list-group-item ">CAM05</li>
                    </ul>
                  </div>
                  </div>
                </ng-container> 
              </div>
              <div class="col-md-10 ">
                <div class="tab-content">
                  <div id="detection" class="container tab-pane active">
                  <h5>CAM01</h5>  
                  <img src="http://mcloud.mindteck.com:13338/video_feed?camid=CAM01" class="live_img" alt="">
                  </div>
                  <div id="surveillance" class="container tab-pane fade">
                    <h5>CAM01</h5>  
                    <img src="http://mcloud.mindteck.com:13338/video_feed?camid=CAM09" class="live_img" alt="">  
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light color-btn btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- ViewTemplete -->
<ng-template #viewtemplate>
  <div class="modal-header">
    <h5 class="modal-title pull-left">{{desc_array}}</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()" >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal_table">
    <div class="table-responsive ">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th class="pointer" (click)="sort('bookingtype')">Booking Type
                <i class="fa" [ngClass]="{'fa-sort': column != 'bookingtype', 'fa-sort-asc': (column == 'bookingtype' && isDesc), 'fa-sort-desc': (column == 'bookingtype' && !isDesc) }" aria-hidden="true"> </i>
               </th>
            <th class="pointer" (click)="sort('vehicletype')">Vechile Type
                <i class="fa" [ngClass]="{'fa-sort': column != 'vehicletype', 'fa-sort-asc': (column == 'vehicletype' && isDesc), 'fa-sort-desc': (column == 'vehicletype' && !isDesc) }" aria-hidden="true"> </i>
            </th>
            <th>Vehicle Number</th>
            <th>Contact Number</th>
            <th class="pointer" (click)="sort('checkintime')">Check In
                <i class="fa" [ngClass]="{'fa-sort': column != 'checkintime', 'fa-sort-asc': (column == 'checkintime' && isDesc), 'fa-sort-desc': (column == 'checkintime' && !isDesc) }" aria-hidden="true"> </i>
            </th>
            <th class="pointer" (click)="sort('checkouttime')">Check Out
                <i class="fa" [ngClass]="{'fa-sort': column != 'checkouttime', 'fa-sort-asc': (column == 'checkouttime' && isDesc), 'fa-sort-desc': (column == 'checkouttime' && !isDesc) }" aria-hidden="true"> </i>
            </th>
          </tr>
        </thead>
        <tbody *ngFor="let item of dataitem |  orderBy: {property: column, direction: direction}">
          <tr>
            <td>{{item.bookingtype}}</td>
            <td>{{item.vehicletype}}</td>
            <td>{{item.vehiclenumber}}</td>
            <td>{{item.contactnumber}}</td>
            <td>{{item.checkintime}}</td>
            <td>{{item.checkouttime}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light color-btn btn-sm" (click)="CancelModal()">Cancel</button>
  </div>
</ng-template>

