<div class="containerCustom">
  <div class="card-body">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <h6>Total Parking limit <span class="badge badge-primary">106</span></h6>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <h6>Reserved Slot <span class="badge badge-warning">54</span></h6>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <h6>Reserved VIP Slot <span class="badge badge-info">21</span></h6>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3"></div>
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3">
        <input class="form-control" type="text" placeholder="Search by zone/camera/slot" [(ngModel)]="cfilter"
          (keyup)="GetUserByFilterOption()">
      </div>
    </div>
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Zone</th>
              <th>Camera</th>
              <th>SlotNo.</th>
              <th>Block Name</th>
              <th>Slot Name</th>
              <th>Reserved Slot</th>
              <th>Reserved VIP Slot</th>
              <th>Total Reserve Slot</th>
            </tr>
          </thead>
          <!-- (change)="onCheck(rm,rmv)" -->
          <tbody>
            <tr>
              <td>AMR Tech Park</td>
              <td>CAM001</td>
              <td>19</td>
              <td><input type="text" class="form-control " placeholder="Enter block name..." /></td>
              <td><input type="text" class="form-control" placeholder="Enter slot name..." /></td>
              <td class="text-center"> <label><input type="checkbox" /></label></td>
              <td class="text-center"> <label><input type="checkbox" /></label></td>
              <td class="text-center"> <label><input type="checkbox" /></label></td>
            </tr>
            <tr>
              <td>AMR Tech Park</td>
              <td>CAM001</td>
              <td>19</td>
              <td><input type="text" class="form-control " placeholder="Enter block name..." /></td>
              <td><input type="text" class="form-control" placeholder="Enter slot name..." /></td>
              <td class="text-center"> <label><input type="checkbox" /></label></td>
              <td class="text-center"> <label><input type="checkbox" /></label></td>
              <td class="text-center"> <label><input type="checkbox" /></label></td>
            </tr>
            <tr>
              <td>AMR Tech Park</td>
              <td>CAM001</td>
              <td>19</td>
              <td><input type="text" class="form-control " placeholder="Enter block name..." /></td>
              <td><input type="text" class="form-control" placeholder="Enter slot name..." /></td>
              <td class="text-center"> <label><input type="checkbox" /></label></td>
              <td class="text-center"> <label><input type="checkbox" /></label></td>
              <td class="text-center"> <label><input type="checkbox" /></label></td>
            </tr>
            <tr>
              <td>AMR Tech Park</td>
              <td>CAM001</td>
              <td>19</td>
              <td><input type="text" class="form-control " placeholder="Enter block name..." /></td>
              <td><input type="text" class="form-control" placeholder="Enter slot name..." /></td>
              <td class="text-center"> <label><input type="checkbox" /></label></td>
              <td class="text-center"> <label><input type="checkbox" /></label></td>
              <td class="text-center"> <label><input type="checkbox" /></label></td>
            </tr>
            <tr>
              <td>AMR Tech Park</td>
              <td>CAM001</td>
              <td>19</td>
              <td><input type="text" class="form-control " placeholder="Enter block name..." /></td>
              <td><input type="text" class="form-control" placeholder="Enter slot name..." /></td>
              <td class="text-center"> <label><input type="checkbox" /></label></td>
              <td class="text-center"> <label><input type="checkbox" /></label></td>
              <td class="text-center"> <label><input type="checkbox" /></label></td>
            </tr>
            <tr>
              <td>AMR Tech Park</td>
              <td>CAM001</td>
              <td>19</td>
              <td><input type="text" class="form-control " placeholder="Enter block name..." /></td>
              <td><input type="text" class="form-control" placeholder="Enter slot name..." /></td>
              <td class="text-center"> <label><input type="checkbox" /></label></td>
              <td class="text-center"> <label><input type="checkbox" /></label></td>
              <td class="text-center"> <label><input type="checkbox" /></label></td>
            </tr>
            <tr>
              <td>AMR Tech Park</td>
              <td>CAM001</td>
              <td>19</td>
              <td><input type="text" class="form-control " placeholder="Enter block name..." /></td>
              <td><input type="text" class="form-control" placeholder="Enter slot name..." /></td>
              <td class="text-center"> <label><input type="checkbox" /></label></td>
              <td class="text-center"> <label><input type="checkbox" /></label></td>
              <td class="text-center"> <label><input type="checkbox" /></label></td>
            </tr>
        </table>
      </div>
      <!--end of .table-responsive-->
    </div>
    <div class="row row_color" *ngIf="TotalCount > 0">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label for="ddlpagesize">Page size&nbsp;:&nbsp;</label>
        <select id="ddlpagesize" [(ngModel)]="psize" (change)="loadAllUserByPageSize()">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            &nbsp;
            <button class="btn btn-light color-btn btn-sm" [disabled]="CheckPaginationFirst()" (click)="GoToPage(1)"
              title="First">
              <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            </button>&nbsp;
          </li>
          <li>
            &nbsp;
            <button class="btn btn-light color-btn btn-sm" [disabled]="CheckPaginationPrev()" (click)="GoToPage(2)"
              title="Previous">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
            </button>&nbsp;
          </li>
          <li>
            &nbsp;
            <label class="lblmarginpaging" for="paginglabel">Page {{CurrentPage}} of {{TotalPages}}</label>&nbsp;
          </li>
          <li>
            &nbsp;
            <button class="btn btn-light color-btn btn-sm" [disabled]="CheckPaginationNext()" (click)="GoToPage(3)"
              title="Next">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>&nbsp;
          </li>
          <li>
            &nbsp;
            <button class="btn btn-light color-btn btn-sm" [disabled]="CheckPaginationLast()" (click)="GoToPage(4)"
              title="Last">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </button>&nbsp;
          </li>

        </ul>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Showing&nbsp;{{pfrom}}&nbsp;to&nbsp;{{pto}}&nbsp;of&nbsp;{{TotalCount}}&nbsp;records</label>
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{UserModalLabel}}
    </h4>

    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
          <label for="txtUserName">UserName/Email</label>
          <sup class="lblMandatory">*</sup>
          <input *ngIf="mode==1" type="text" class="form-control" id="txtUserName" placeholder="UserName/Email">
          <input *ngIf="mode==2" type="text" class="form-control" id="txtUserName" placeholder="UserName/Email"
            disabled>

        </div>
        <div class="form-group">
          <label for="txtFirstName">First Name</label>
          <sup class="lblMandatory">*</sup>
          <input type="text" class="form-control" id="txtFirstName" placeholder="First Name">
        </div>
        <div class="form-group">
          <label for="txtLastName">Last Name</label>
          <input type="text" class="form-control" id="txtLastName" placeholder="Last Name">
        </div>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
          <label for="txtPhone">Phone/Mobile Number</label>
          <input type="text" class="form-control" id="txtPhone" placeholder="Phone or Mobile">
        </div>
        <div class="form-group">
          <label for="ddlGender">Gender</label>
          <sup class="lblMandatory">*</sup>
          <select class="form-control" id="ddlGender">
            <option value="">Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Transgender">Transgender</option>
          </select>
        </div>

      </div>
    </div>
    note&nbsp;:-&nbsp;
    <small>field marked as (
      <span class="lblMandatory">*</span>) are mandatory</small>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light color-btn btn-sm" (click)="SaveUser()">Save</button>
    <!-- <button type="button" class="btn btn-light color-btn btn-sm" (click)="UpdateUser()">Update</button> -->
    <button type="button" class="btn btn-light color-btn btn-sm" (click)="CancelModal()">Cancel</button>
  </div>
</ng-template>

<!--delete modal -->
<ng-template #templatedelete>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete User</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label for="usr">Are you sure to delete user
            <b>{{UName}}</b>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light color-btn btn-sm" (click)="DeleteUser()">Delete</button>
    <button type="button" class="btn btn-light color-btn btn-sm" (click)="CancelModal()">Cancel</button>
  </div>
</ng-template>