<div class="keystore-content">
    <span class="keystore-title valign-wrapper"></span>
    <br>
    <div class="container">
        <div class=" card" >
        <div id="mainthing" >
            <div id="case1" class="div_size">
                <div class=' item-card2 waves-effect waves-light div_card' id=''>     
                        <h5 class="text-center">LOC A </h5>  
                <app-doughnutdashboard></app-doughnutdashboard>
                </div>
            </div>
            <div id="case2" class="div_size">
                <div class='item-card2 waves-effect waves-light div_card'  id=''>     
                        <h5 class="text-center">LOC B </h5>                 
                    <app-doughnutdashboard></app-doughnutdashboard>
                </div>
            </div>
            <div id="case2" class="div_size">
                <div class=' item-card2 waves-effect waves-light div_card' id=''>
                        <h5 class="text-center">LOC C</h5>  
                    <app-doughnutdashboard></app-doughnutdashboard>
                </div>
            </div>
            <div id="case2" class="div_size">
                <div class=' item-card2 waves-effect waves-light div_card' id=''>
                        <h5 class="text-center">LOC D </h5>  
                    <app-doughnutdashboard></app-doughnutdashboard>
                </div>
            </div>
            <div id="case2" class="div_size">
                <div class=' item-card2 waves-effect waves-light div_card'  id=''>     
                        <h5 class="text-center">LOC E </h5>                 
                    <app-doughnutdashboard></app-doughnutdashboard>
                </div>
            </div>
            <div id="case2" class="div_size">
                <div class=' item-card2 waves-effect waves-light div_card'  id=''>     
                        <h5 class="text-center">LOC F</h5>                 
                    <app-doughnutdashboard></app-doughnutdashboard>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>